.brand-header {
    padding: 1em 2em;
    text-align: center;
    border-bottom: 1px solid var(--gray-shade-color);
}

.brand-header img {
    width: 150px;
}

.brand-products {
    padding: 2em;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.pagination.hide {
    display: none;
}

.pagination-btn {
    background-color: var(--neutral-dark-color);
    color: var(--white-color);
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.pagination-btn:hover:not(.disabled) {
    opacity: 0.9;
}

.pagination-btn.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-info {
    color: var(--neutral-dark-color);
    padding: 0 15px;
}

.active-page {
    color: var(--primary-color);
}

@media (max-width: 800px) {
    .brand-header img {
        width: 120px;
    }

    .brand-header,
    .brand-products {
        padding: 1em 1em;
    }
}