.load-less-btn,
.load-more-btn {
    background-color: var(--neutral-dark-color);
    color: var(--white-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.load-less-btn:hover,
.load-more-btn:hover {
    opacity: 0.8;
}

.hide {
    display: none;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: var(--neutral-dark-color);
    color: var(--white-color);
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;

}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.active,
.current-page {
    color: var(--primary-color);
}

.page-indicator {
    margin: 0 10px;
    font-size: 16px;
    color: var(--neutral-dark-color);
}

