:root {
    --primary-color: #fd3008;
    --secondary-color: #00a896;
    --neutral-light-color: #f8f9fa;
    --neutral-dark-color: #2d2d2d;
    --accent-color: #ffd166;
    --snow: #fffafa;
    --anti-flash-white: #f4f6f6;
    --gray-shade-color: #dee7e7;
    --white-color: #ffffff;
    /* --snow: fffbfa; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}

header {
    margin: 0 auto;
    top: 0;
    position: fixed;
    width: 100%;
    max-width: 1600px;
    height: 6em;
    z-index: 100;
    background-color: var(--neutral-light-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5em;
    padding: .3rem 2rem .1rem 2rem;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.header .search-bar {
    position: relative;
}

.search-bar input {
    padding: .5em 1em;
    border-radius: 8px;
}

.header .search-bar input[type=search] {
    width: 400px;
}

.search-bar input[type=search] {
    border: 1px solid var(--neutral-dark-color);
    outline: none;
    color: var(--neutral-dark-color);
    padding-left: 2em;
}

.header .search-bar .ri-search-line {
    position: absolute;
    left: 1em;
    top: 20%;
    transform: translate(-50%);
    color: var(--gray-shade-color);
    font-size: 1rem;
}

.search-bar input[type=submit] {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--neutral-light-color);
    border: none;
    border: 1px solid;
}

.header .header-items {
    display: flex;
    gap: 1em;
    align-items: center;
    border: 1px solid var(--gray-shade-color);
    padding: .3em .5em;
    border-radius: 4px;
    background-color: #edf2f4;
}

.header .header-items i {
    font-size: 1.5rem;
    color: var(--neutral-dark-color);
    cursor: pointer;
}

a {
    text-decoration: none;
}

.header .account {
    position: relative;
    z-index: 110;
}

.header .account-dropdown {
    position: absolute;
    padding: 1em;
    left: 50%;
    translate: -50% 0;
    background-color: var(--white-color);
    border-radius: 8px;
    display: none;
}

.header .account-dropdown p {
    padding: .5em;
}

.header .account-dropdown p a {
    color: var(--neutral-dark-color);
}

.header .account-dropdown p a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

.header.account i:hover {
    color: var(--secondary-color);
}

.header .account:hover .account-dropdown {
    display: block;
}

.header .account-initials {
    width: 33px;
    height: 33px;
    background-color: var(--white-color);
    color: var(--neutral-dark-color);
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-transform: uppercase;
}

.header .cart {
    position: relative;
    z-index: 110;
}

.header .cart .ri-shopping-cart-fill {
    text-decoration: none;
}

.header .cart a {
    text-decoration: none;
}

.header .cart-count {
    position: absolute;
    padding: 3px 7px;
    background-color: var(--primary-color);
    border-radius: 50%;
    right: -10px;
    top: -10px;
    color: var(--neutral-light-color);
}

.search-bar.mobile {
    display: none;
    width: 100%;
    padding-bottom: 5px;
}

.search-bar.mobile form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5em;
}

.search-bar.mobile input[type=search] {
    border: 1px solid var(--neutral-dark-color);
    outline: none;
    color: var(--neutral-dark-color);
    width: 70%;
    position: relative;
}

.search-bar.mobile form .ri-search-line {
    /* position: absolute; */
    left: 0;
    /* top: 20%; */
    transform: translate(-50%);
    font-size: 1rem;
}

header nav {
    background-color: var(--gray-shade-color);
    background-color: #edf2f4;
    
    background-color: var(--anti-flash-white);
    padding: 0 2rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

nav::-webkit-scrollbar {
    display: none;
}

nav .nav-links {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .nav-links li {
    margin: 0 20px;
}

nav .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav .nav-links a:hover {
    color: var(--secondary-color);
}

.header-after {
    content: "";
    margin-top: 6.1em;
}

@media (max-width: 768px) {

    header {
        height: 9em;
    }


    .header .search-bar {
        display: none;
    }

    .search-bar.mobile {
        display: block;
    }

    nav {
        padding: 0 1rem;
    }

    nav .nav-links {
        justify-content: flex-start;
    }

    nav .nav-links li {
        margin: 0 10px;
    }
}