* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Color Type	Hex Code	RGB	Usage Example
Primary - Buttons, CTAs, Logo, Highlights
Secondary - Accents, Icons, Subtle Highlights
Neutral Light - Backgrounds, Cards, Text Areas
Neutral Dark - Text, Headers, Borders
Accent - Discount Tags, Alerts, Hover Effects */

:root {
    --primary-color: #fd3008;
    --secondary-color: #00a896;
    --neutral-light-color: #f8f9fa;
    --neutral-dark-color: #2d2d2d;
    --accent-color: #ffd166;
}

.container {
    position: relative;
}


.products-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    width: 100%;
}

.product-card {
    width: 23% !important;
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    position: relative;
}


