:root {
    --primary-color: #fd3008;
    --secondary-color: #00a896;
    --neutral-light-color: #f8f9fa;
    --neutral-dark-color: #2d2d2d;
    --accent-color: #ffd166;
    --snow: #fffafa;
    --anti-flash-white: #f4f6f6;
    --gray-shade-color: #dee7e7;
    --white-color: #ffffff;
    --timberwolf: #ced0ce;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}

.products-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    width: 100%;
}

.product-card {
    width: 23% !important;
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    position: relative;
}

section {
    /* background-color: var(--snow); */
    /* background-color: var(--anti-flash-white); */
}

.section-header,
.section-footer {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.section-footer a {
    background-color: var(--anti-flash-white);
    padding: .5em .8em;
    border-radius: 4px;
    color: var(--neutral-dark-color);
}

.section-footer a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

@media (max-width: 800px) {

    .product-card {
        width: 30% !important;;
    }
}

@media (max-width: 560px) {
    .product-card {
        width: 45% !important;
    }
}

@media (max-width: 330px) {
    .product-card {
        width: 100% !important;
    }
}