@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #fd3008;
    --secondary-color: #00a896;
    --neutral-light-color: #f8f9fa;
    --neutral-dark-color: #2d2d2d;
    --accent-color: #ffd166;
    --snow: #fffafa;
    --anti-flash-white: #f4f6f6;
    --gray-shade-color: #dee7e7;
    --white-color: #ffffff;
    --timberwolf: #ced0ce;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}

.products-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    width: 100%;
}

.product-card {
    width: 23% !important;
}



@media (max-width: 800px) {

    .product-card {
        width: 30% !important;;
    }
}

@media (max-width: 560px) {
    .product-card {
        width: 45% !important;
    }
}

@media (max-width: 330px) {
    .product-card {
        width: 100% !important;
    }
}