.products-scroll-container {
    position: relative;
    overflow: hidden;
    padding: 2em;
}

.product-scroll {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.product-scroll::-webkit-scrollbar {
    display: none;
}

.product-scroll .product-card {
    max-width: 300px;
    flex: 0 0 auto;
    overflow: hidden;
    scroll-snap-align: start;
    transition: transform 0.2s ease;
}

.product-scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--black-low-opacity);
    color: var(--neutral-light-color);
    padding: .5em .9em;
    margin: 0 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    -webkit-user-select: none;
    user-select: none;
    transition: background 0.3s ease;
}

.product-scroll-btn:hover {
    background-color: var(--primary-color);
}

.scroll-left {
    left: 0;
}

.scroll-right {
    right: 0;
}

.product-scroll-btn.hidden {
    display: none;
}


@media (max-width: 800px) {
    .products-scroll-container {
        padding: 1em .5em;
    }

    .product-scroll .product-card {
        max-width: 240px;
    }

}

@media (max-width: 560px) {
    .product-scroll {
        gap: .5em;
    }

    .product-scroll .product-card {
        max-width: 200px;
    }

    .scroll-btn {
        display: none;
    }
}


@media (max-width: 480px) {
    .product-scroll .product-card {
        max-width: 180px;
    }

}

@media (max-width: 380px) {
    .product-scroll .product-card {
        max-width: 170px;
    }

}

@media (max-width: 340px) {
    .product-scroll .product-card {
        max-width: 95%;
    }

}