.products-scroll-container {
    position: relative;
    overflow: hidden;
    padding: 2em;
}

.product-scroll {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.product-scroll::-webkit-scrollbar {
    display: none;
}

.product-scroll .product-card {
    max-width: 300px;
    flex: 0 0 auto;
    overflow: hidden;
    scroll-snap-align: start;
    transition: transform 0.2s ease;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.1);
    color: #333;
    width: 36px;
    height: 60px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
    -webkit-user-select: none;
    user-select: none;
    transition: background 0.3s ease;
}

.scroll-btn:hover {
    background: rgba(0, 0, 0, 0.2);
}

.scroll-left {
    left: 0;
}

.scroll-right {
    right: 0;
}

.scroll-btn.hidden {
    display: none;
}


@media (max-width: 800px) {
    .products-scroll-container {
        padding: 1em .5em;
    }

}

@media (max-width: 560px) {
    .product-scroll {
        gap: .5em;
    }
    .scroll-btn {
        display: none;
    }
}