.products-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(242px, 1fr));
    gap: 1em;
    padding: 1em 2em;
    width: 100%;
}

.products-cards-container .product-card {
    margin-bottom: .5em;
}


@media (max-width: 800px) {
    .products-cards-container {
        padding: 1em 1em;
        grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
    }
}

@media (max-width: 560px) {
    .products-cards-container {
        padding: 1em .5em;
        gap: .5em;
        grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
    }

}

@media (max-width: 500px) {
    .products-cards-container {
        padding: 1em .5em;
        gap: .5em;
        grid-template-columns: repeat(auto-fit, minmax(166px, 1fr));
    }

}

@media (max-width: 400px) {
    .products-cards-container {
        padding: 1em .5em;
        gap: .5em;
        grid-template-columns: repeat(auto-fit, minmax(146px, 1fr));
    }

}