.slideshow-container {
    width: 100%;
    height: 90vh;
    max-height: 350px;
    /* top: 4.1em; */
    position: relative;
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide .counter {
    color: var(--neutral-light-color);
    padding: .5em .8em;
    position: absolute;
    font-size: .8rem;
    top: 0;
    background-color: var(--black-low-opacity);
    border-bottom-right-radius: 2px;
}

.slide .caption {
    color: var(--neutral-light-color);
    padding: .5em .8em;
    position: absolute;
    bottom: 2em;
    text-align: center;
    width: 100%;
}

.slide .caption span {
    padding: .3em;
    border-radius: 4px;
    background-color: #0000007e;

    background-color: var(--black-low-opacity);
}

.slide-indicator-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
}

.slide-indicator {
    height: .9rem;
    width: .9rem;
    background-color: var(--neutral-light-color);
    border-radius: 50%;
    display: inline-block;

}

.active-slide {
    background-color: var(--primary-color);
    opacity: 1;
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.slides-controls {
    text-align: center;
}

.slides-controls button {
    position: absolute;
    padding: .5em .9em;
    cursor: pointer;
    background-color: var(--black-low-opacity);
    border: none;
    outline: none;
    color: var(--neutral-light-color);
    border-radius: 4px;
}

.slides-controls button:hover {
    background-color: var(--primary-color);
    opacity: 1;
}


.slides-controls .slide-prev,
.slides-controls .slide-next {
    bottom: 0;
}

.slides-controls .slide-prev {
    translate: 0 -50%;
    right: 55px;
}

.slides-controls .slide-next {
    translate: 0 -50%;
    right: 10px;
}


@media (max-width:560px) {
    .slides-controls button {
        padding: .3em .7em;
    }

    .slides-controls .slide-prev,
    .slides-controls .slide-next {
        bottom: 85%;
    }

    .slides-controls .slide-prev {
        right: 40px;
    }

    .slides-controls .slide-next {
        right: 5px;
    }
}