<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KickStar - eCommerce Shoes Store</title>

    <link rel="shortcut icon" href="logo2.svg" type="image/x-icon">
    <link rel="stylesheet" href="products.css">
</head>

<body>
    <h1>Products</h1>
    
    <div class="products-cards-container">
        <!-- For place holder Product cards   -->
        <!-- Generate Product cards using JavaScript  -->
    </div>

    <script src="products.js"></script>
</body>

</html>