<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css" class="css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/2.5.0/remixicon.css">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul class="nav-links">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Kids</a></li>
                    <li><a href="#">New</a></li>
                    <li><a href="#">Deals</a></li>
                    <li><a href="#">Brands</a></li>
                    <li><a href="#">Sale</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>

        </header>
        <div class="header-after"></div>

    </div>
</body>

</html>