<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KickStar - eCommerce Shoes Store</title>
    <link rel="shortcut icon" href="../images/logo2.svg" type="image/x-icon">

    <title>Automatic slideshow</title>
    <link rel="stylesheet" href="../css/slider.css">
</head>

<body>
    <div class="container">
        <div class="slideshow-container">
            <div class="slide">
                <div class="counter"></div>
                <img src="../images/1.png" alt="image" width="100%">
                <div class="caption"><span>Caption One</span></div>
            </div>

            <div class="slide">
                <div class="counter"></div>
                <img src="../images/2.png" alt="image" width="100%">
                <div class="caption"><span>Caption Two</span></div>
            </div>

            <div class="slide">
                <div class="counter"></div>
                <img src="../images/3.jpg" alt="image" width="100%">
                <div class="caption"><span>Caption Three</span></div>
            </div>

            <div class="slide">
                <div class="counter"></div>
                <img src="../images/4.jpg" alt="image" width="100%">
                <div class="caption"><span>Caption Four</span></div>
            </div>

            <div class="slide-indicator-container">
                <span class="slide-indicator"></span>
                <span class="slide-indicator"></span>
                <span class="slide-indicator"></span>
                <span class="slide-indicator"></span>
            </div>

            <div class="slides-controls">
                <button class="slide-prev" id="slide-prev">❮</button>
                <button class="slide-next" id="slide-next">❯</button>
            </div>
        </div>

    </div>

    <script src="../js/slider.js"></script>
</body>

</html>